<% layout('layout/page') -%>
<% block('title', "Документ") -%>

<script src="/socket.io/socket.io.js"></script>
<link rel="stylesheet" href="/css/blogList.css"/>

<div id="atricles">
    <h2>Atricles list</h2>
    <ul class="atricles-list" id="AtriclesList--list">

    </ul>

</div>

<template id="article">
	<li class="article">

			<a class="article--title" ></a>
			<div class="article--user-create" ></div>
      <div class="article--text" >
        <span class="article--text-aticle"></span>
        <a class="article--link" href="">... Дальше</a>
      </div>

      <div class="article--likes" ></div>
      <div class="article--reposts" ></div>

			<div class="article--data"></div>

	</li>
</template>

<script src="/js/bloglist.js"></script>
